@font-face {
    font-family: spongebob;
    src: url('./assets/fonts/KrabbyPatty.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100svh;
    font-family: sans-serif;
    overflow-x: hidden;
    
}
.wrapper {
    background: url('./assets/img/fondoa.webp');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.camera{
    width: calc(100% - 2rem);
    height: 100%;
    border: 1px solid #fff;
    position: absolute;
}

.wrapper-checklist{
    position: relative;
    padding: 1rem;
    width: 100%;
    min-height: 100svh;
    overflow: hidden;
    border: 2px solid #fff;
}

        

@keyframes noise {
    0% {
        transform: translateX(0px, 0px);
    }

    10% {
        transform: translate(-100px, 100px);
    }

    20% {
        transform: translate(150px, -100px);
    }

    30% {
        transform: translate(-100px, 100px);
    }

    40% {
        transform: translate(100px, -150px);
    }

    50% {
        transform: translate(-100px, 200px);
    }

    60% {
        transform: translate(-200px, -100px);
    }

    70% {
        transform: translateY(50px, 100px);
    }

    80% {
        transform: translate(100px, -150px);
    }

    90% {
        transform: translate(0px, 200px);
    }

    100% {
        transform: translate(-100px, 100px);
    }
}

.container {
    margin: auto;
    padding: 0 0.5rem;
}

.text-center {
    text-align: center;
}

#clock{
    position: absolute;
    right: 1.1rem;
    top: 1.1rem;
    color: #fff;
}

#redCircle{
    position: absolute;
    left: 1.3rem;
    top: 1.3rem;
    background-color: red;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}


.title {
    text-decoration: none;
    font-weight: normal;
    font-size: clamp(1rem, 2.5vw, 3rem);
    /* font-weight: 900; */
    margin-bottom: 1rem;
    color: #fff;
    -webkit-text-stroke: 1px aqua;
   -webkit-text-fill-color: transparent;
   animation: glow-title 2s ease-in-out infinite alternate;
   /* text-shadow: 1px 1px 2px aqua; */
   
}

@keyframes glow-title
{
  from 
  {
    text-shadow: 0 0 10px aqua, 0 0 15px aqua;
  }
  to
  {
    text-shadow: 0 0 20px aqua;
  }
}

.title:first-of-type {
    margin-top: 3rem;
}

.title-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* .glitch{
    color: #000;
    position: relative;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
            0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    
    animation: glitch 500ms infinite;
}
.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
} */

/* @keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    49% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    99% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
            -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
} */

.item-collecion-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-bottom: 1.4rem;
}

.imagen-fondo{
    width: 70%;
    height: 70%;
    background: var(--bgimg) center center no-repeat;
    background-size: contain;
    filter: grayscale(1);
}

.item {
    width: 3.9rem;
    height: 3.9rem;
    display: grid;
    place-items: center;    
    cursor: pointer;
    position: relative;
    border: 1px solid #fff;
    user-select: none;
    .bateria_full{
        display: none;
    }
    .bateria{
        display: block;
    }
}

.item img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 20px 30px rgb(230, 230, 230);
}
.bateria, .bateria_full{
    position: absolute;
    width: 0.8rem;
    height: auto;
    left: 1px;
    top: 1px;
}





.item.owned {
    /* border: 1px solid rgb(227, 236, 90); */
    /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), inset 0px -10px 15px #fffb0e; */

    /* img:nth-child(2) {
        opacity: 0;
    } */

    /* .img-color {
        filter: drop-shadow(0 0 2px #000);
    } */
    .imagen-fondo {
        filter: drop-shadow(0 0 0.75rem #e4e132);
    }

    .noise{
        opacity: 0;
    }

    .bateria{
        display: none;
    }
    .bateria_full{
        display: block;
    }
}



.item .noise {
    width: 100%;
    /* object-fit: contain; */
    height: 100%;
    position: absolute;
    /* filter: grayscale(1); */
    /* filter: drop-shadow(0 0 6px white) drop-shadow(0 0 15px white) drop-shadow(0 0 30px white); */
}
.puzzle{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);

    img{
        width: 100%;
        height: auto;
        object-fit: contain;
        border: 1px solid #fff;
        filter: grayscale(1);
        cursor: pointer;
    }
}
.puzzle .owned{
    filter: none;
    border: 1px solid yellow;
}


.madeby{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #fff;
}

footer p{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

@media (width >=576px) {
    .container {
        max-width: 540px;
    }
}

@media (width >=768px) {
    .container {
        max-width: 720px;
    }

    .item {
        width: 6rem;
        height: 6rem;
    }

    .item-collecion-wrapper {
        gap: 1.8rem;
    }
}

@media (width >=992px) {
    .container {
        max-width: 960px;
    }

    .item {
        width: 9rem;
        height: 9rem;
        
    }

    .item-collecion-wrapper {
        gap: 3rem;
    }
    .bateria, .bateria_full{
        position: absolute;
        width: 1.5rem;
    }
    
}

@media (width >=1200px) {
    .container {
        max-width: 1140px;
    }

}

@media (width >=1400px) {
    .container {
        max-width: 1320px;
    }
}