

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-red: #f7004da6;
}
body{
    width: 100%;
    min-height: 100svh;
    font-family: sans-serif;
    overflow-x: hidden;
    font-family: "Press Start 2P", system-ui;
    
}
.wrapper {
    background: url('./assets/img/fondoa.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
}

.camera{
    width: calc(100% - 2rem);
    height: 100%;
    border: 1px solid #fff;
    position: absolute;
}

.wrapper-checklist{
    position: relative;
    padding: 1rem;
    width: 100%;
    min-height: 100svh;
    overflow: hidden;
    border: 2px solid #fff;
}



.container {
    margin: auto;
    padding: 0 0.5rem;
}

.text-center {
    text-align: center;
}

#clock{
    position: absolute;
    right: 1.1rem;
    top: 1.3rem;
    color: #fff;
}

#redCircle{
    position: absolute;
    left: 1.3rem;
    top: 1.3rem;
    background-color: #F52955;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}


.title {
    text-decoration: none;
    font-weight: normal;
    font-size: clamp(1rem, 2.5vw, 3rem);
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
    -webkit-text-stroke: 1px #FF9FBE;
   -webkit-text-fill-color: transparent;
   animation: glow-title 2s ease-in-out infinite alternate;
   letter-spacing: 0.15rem;

   /* text-shadow: 1px 1px 2px aqua; */
   
}

.container > p{
    color: #fff;
    text-align: end;
    margin-bottom: 2rem;
    font-size: clamp(0.4rem, 2.5vw, 1.2rem);
}

@keyframes glow-title
{
  from 
  {
    text-shadow: 0 0 20px #FF9FBE;
  }
  to
  {
    text-shadow: 0 0 10px #FF9FBE, 0 0 15px #FF9FBE;
  }
}

.title:first-of-type {
    margin-top: 3rem;
}

.title-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}


.item-collecion-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-bottom: 1.4rem;
}

.imagen-fondo{
    width: 70%;
    height: 70%;
    background: var(--bgimg) center center no-repeat;
    background-size: contain;
    filter: grayscale(1);
}

.item {
    width: 4.9rem;
    height: 4.9rem;
    display: grid;
    place-items: center;    
    cursor: pointer;
    position: relative;
    border: 1px solid #fff;
    user-select: none;
    .bateria_full{
        display: none;
    }
    .bateria{
        display: block;
    }
}

.item img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 20px 30px rgb(230, 230, 230);
}
.bateria, .bateria_full{
    position: absolute;
    width: 0.8rem;
    height: auto;
    left: 1px;
    top: 1px;
}

.recording{
    width: 0.4rem;
    height: 0.4rem;
    background-color: #F52955;
    position: absolute;
    left: 1px;
    top: 0.8rem;
    border-radius: 50%;
    display: none;
}





.item.owned {
    /* border: 1px solid rgb(227, 236, 90); */
    /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), inset 0px -10px 15px #fffb0e; */

    /* img:nth-child(2) {
        opacity: 0;
    } */

    /* .img-color {
        filter: drop-shadow(0 0 2px #000);
    } */
    .imagen-fondo {
        filter: drop-shadow(0 0 3rem #ffffff2b) drop-shadow(0 0 .8rem #b300386b) drop-shadow(0 0 .1rem #f7004da6);
    }

    .noise{
        opacity: 0;
    }

    .bateria{
        display: none;
    }
    .bateria_full{
        display: block;
    }
    .recording{
        display: block;
        
    }
}



.item .noise {
    width: 100%;
    /* object-fit: contain; */
    height: 100%;
    position: absolute;
    /* filter: grayscale(1); */
    /* filter: drop-shadow(0 0 6px white) drop-shadow(0 0 15px white) drop-shadow(0 0 30px white); */
}
.puzzle{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);

    img{
        width: 100%;
        height: auto;
        object-fit: contain;
        
        
    }
   
}
.item_puzzle{
    filter: grayscale(1);
    cursor: pointer;
    border: 1px solid #fff;
}

.item_puzzle.owned{
    filter: grayscale(0);
    border: 2.5px solid #00ff4e;
}


.madeby{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #fff;
    margin-top: 3rem;
    position: relative;
    z-index: 100;
    flex-wrap: wrap-reverse;
    gap: 2rem;

    p{
        font-size: 1rem;
    }
}

footer p{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

@media (width >=576px) {
    .container {
        max-width: 540px;
    }
}

@media (width >=768px) {
    .container {
        max-width: 720px;
    }

    .item {
        width: 6rem;
        height: 6rem;
    }

    .item-collecion-wrapper {
        gap: 1.8rem;
    }
}

@media (width >=992px) {
    .container {
        max-width: 960px;
    }

    .item {
        width: 9rem;
        height: 9rem;
        
    }

    .item-collecion-wrapper {
        gap: 3rem;
    }
    .bateria, .bateria_full{
        position: absolute;
        width: 1.5rem;
    }
    .recording{
        top: 1.5rem;
        width: 0.7rem;
        height: 0.7rem;
    }
    
}

@media (width >=1200px) {
    .container {
        max-width: 1140px;
    }

}

@media (width >=1400px) {
    .container {
        max-width: 1320px;
    }
}

#imagen{
    position: relative;
    z-index: 100;
}

.counter{
    color: #fff;
    text-align: end;
    margin-bottom: 1rem;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: start;
}

.download{
    
    font-family: 'Monserrat', sans-serif;
    position: relative;
    top: 0;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;    
    letter-spacing: .1em;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
    border: none;
    margin: 15px 15px 30px;
    background: repeating-linear-gradient(45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    border-top: 3px solid rgba(255, 255, 255, .3);
    color: #fff !important;
    border-radius: 8px;
    padding: 0.3rem 0.6rem;
    box-shadow: 0 6px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0, 0, 0, .3)
}

.download:hover{
    top: 2px;
    box-shadow: 0 4px 0 #266b91, 0 4px 1px 1px rgba(0, 0, 0, .3), 0 6px 0 5px #12517d, 0 8px 0 5px #1a6b9a, 0 11px 0 5px #0c405e, 0 11px 1px 6px rgba(0, 0, 0, .3)
}

.download svg{
    width: 1.5rem;
}

.loader--is--active {
    overflow: hidden;
}
.loader__container.loader--active {
    display: grid;
}

.loader__container {
    position: fixed;
    width: 100%;
    /* height: 100svh; */
    background-color: rgba(10, 10, 10, 0.7);
    z-index: 2000;
    display: grid;
    place-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    place-content: center;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--main-red);
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}